/* GENERAL */
body {
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
}

/* UTILITIES */

/* padding and margin */
.mg-t-b {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mg-t {
    margin-top: 1rem;
}

.mg-b {
    margin-bottom: 1rem;
}

.pd-t-b {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pd-t {
    padding-top: 1rem;
}

.pd-b {
    padding-bottom: 1rem;
}

/* colors */
.blue-text {
    color: #3A8AFF;
}

.white-text {
    color: #fff;
}

.gray-text {
    color: #6F7B97;
}

.l-gray-text {
    color: #BBC9EB;
}

.gray-bg {
    background: #F3F5F9
}

.grad-bg {
    background-image: linear-gradient(#0047C5, #001E9A);
}

/* card */
.ta-card {
    margin-top: 2rem;
    padding: 15px;
    background: #fff;
    border-radius: 6px;
}

/* HEADER */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 50px;
    line-height: 50px;
    background: #fff;
}

.main-header .ta-logo {
    display: inline-block;
    width: 150px;
    height: auto;
}

.main-header ul li a {
    color: #000;
}

.main-header ul li a.btn {
    color: #3A8AFF;
    border-color: #3A8AFF;
    transition: background .3s;
}

.main-header ul li a.btn:hover {
    color: #fff;
    background: #3A8AFF;
}

/* JUMBOTRON */
.jumbo {
    background-image: url('../img/bg-banner-home.jpg');
    background-size: cover;
}

.jumbo .white-text h1 {
    font-size: 42px;
}

.jumbo .white-text p {
    font-size: 20px;
    color: #BBCDFF;
}


.jumbo .ta-card .btn.btn-default {
    position: relative;
    box-shadow: 2px 2px 2px rgba(0,0,0, .5);
}

.jumbo .ta-card .ta-google {
    position: absolute;
    left: 6px;
    top: 6px;
    width: 20px;
}

/* BRAND LOGO SECTION */
.ta-brand-logo ul li {
    width: calc((100% / 6) * 2);
}

.ta-brand-logo img {
    width: 100%;
}

/* DEPLOY SECTION */
.deploy .ta-list ul {
    padding-inline-start: 0;
}

.deploy .ta-list li {
    list-style: none;
    padding: 5px 10px;
    width: 70px;
    border-left: 1px solid #6F7B97;
    transition: background .3s;
}

.deploy .ta-list li:hover {
    background: #75aaf869;
}

.deploy .ta-list li a {
    color: #6F7B97;
}

/* DEVELOPER SLIDE SECTION */
.dev-slide img {
    width: 100%;
}

/* TABLE SECTION */
.table-sec table a {
    color: #00D7D2;
}

/* DEV SLIDE CARD SECTION */
.dev-card img {
    padding-top: 5rem;
    width: 100%;
}

.dev-card .card-sub {
    font-size: 20px;
}

.dev-card .ta-card div:last-child {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

/* GET STARTED SECTION */
.get-started .ta-btn {
    margin-bottom: 4rem;
    color: #3A8AFF;
}

/* FOOTER */
.main-foot {
    background: #031C4E;
}

.main-foot ul li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.main-foot ul li a {
    list-style: none;
    color: #BBC9EB;
    font-weight: bold;
}

/* HELP */
.help-fix {
    position: fixed;
    bottom: 30%;
    left: 10%;
    z-index: 9;
    width: 65px;
    height: 70px;
    background: #006AFF;
    border: 1px solid;
    border-radius: 6px;
}

.help-fix .notify {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    background: red;
    border: 5px solid #fff;
    border-radius: 50%;
}

.help-fix img {
    width: 100%;
    margin: 10px auto;
}

.help-fix .help-text {
    display: none;
    position: relative;
    width: 290px;
    padding: 10px 5px;
    font-weight: bold;
    color: #031C4E;
    filter: drop-shadow(2px -2px 2px rgba(128, 128, 128, 0.5)) 
            drop-shadow(-2px 2px 2px rgba(128, 128, 128, 0.5));
}

.help-fix:hover .help-text {
    display: block;
}

.help-fix .help-text .square {
    position: absolute;
    bottom: 88%;
    left: 8%;
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
    background: #fff;
}

/*************************
 MEDIA QUERIES 
 *************************/

/* BRAND LOGO SECTION */

/* brand logos width in tablet and desktop */
@media screen and (min-width: 768px) {
    .ta-brand-logo ul li {
        width: calc((100% / 6) - 20px);
    }
}

/* DEVELOPER SLIDE SECTION */

/* removing pd and mg bot in desktop view */
@media screen and (min-width: 991px) {
    .dev-slide .slide-img,
    .dev-slide .slide-sub {
        padding-bottom: 0;
    }

    .dev-slide .circle-nav {
        margin: 0;
        padding: 0;
    }
}

/* add arrows to slide and card */
@media screen and (min-width: 768px) {
    .dev-slide .ta-slide,
    .dev-card .ta-card {
        display: inline-block;
        width: 80%;
        vertical-align: middle;
    }

    .dev-slide .slide-img::before,
    .dev-card .card-img::before {
        display: inline-block;
        vertical-align: middle;
        padding-right: 10px;
        color: rgba(0,0,0, .5);
        font-size: 60px;
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f104";
    }
    
    .dev-slide .slide-img::after,
    .dev-card .card-img::after {
        display: inline-block;
        vertical-align: middle;
        padding-left: 10px;
        font-size: 60px;
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f105";
    }
}

/* FOOTER */

/* aligning foot columns in desktop view */
@media screen and (min-width: 991px) {
    .main-foot h4.white-text {
        padding-top: 2rem;
    }

    /* adding extra padding bottom in desktop view for help */
    .main-foot {
        padding-bottom: 5rem;
    }
}

/* HELP */

/* aligning in desktop view */

@media screen and (min-width: 991px) {
    .help-fix {
        position: fixed;
        bottom: 4%;
        left: 93%;
        z-index: 9;
        width: 65px;
        height: 70px;
        background: #006AFF;
        border: 1px solid;
        border-radius: 6px;
    }

    .help-fix .help-text {
        position: relative;
        right: 500%;
        bottom: 120%;
    }

    .help-fix .help-text .square {
        position: absolute;
        bottom: 40%;
        left: 97%;
        transform: rotate(45deg);
        width: 15px;
        height: 15px;
        background: #fff;
    }    
}