/* GENERAL */
body {
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
}

/* UTILITIES */
.mg-t-b {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mg-t {
    margin-top: 1rem;
}

.mg-b {
    margin-bottom: 1rem;
}

.pd-t-b {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pd-t {
    padding-top: 1rem;
}

.pd-b {
    padding-bottom: 1rem;
}

.blue-text {
    color: #3A8AFF;
}

.white-text {
    color: #fff;
}

.gray-text {
    color: #6F7B97;
}

.table-text {
    color: #BBC9EB;
}


/* HEADER */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 50px;
    line-height: 50px;
    background: #fff;
}

.main-header .ta-logo {
    display: inline-block;
    width: 150px;
    height: auto;
}

.main-header ul li a {
    color: #000;
}

.main-header ul li a.btn {
    color: #3A8AFF;
    border-color: #3A8AFF;
    transition: background .3s;
}

.main-header ul li a.btn:hover {
    color: #fff;
    background: #3A8AFF;
}

/* JUMBOTRON */
.jumbo {
    background-image: url('../img/bg-banner-home.jpg');
    background-size: cover;
}

.jumbo .white-text p {
    color: #BBCDFF;
}

.jumbo .ta-card {
    margin-top: 2rem;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
}

.jumbo .ta-card .btn.btn-default {
    position: relative;
    box-shadow: 2px 2px 2px rgba(0,0,0, .5);
}

.jumbo .ta-card .ta-google {
    position: absolute;
    left: 6px;
    top: 6px;
    width: 20px;
}

/* BRAND LOGO SECTION */
.ta-brand-logo {
    background: #F3F5F9;
}

.ta-brand-logo ul li {
    width: calc((100% / 6) * 2);
}

.ta-brand-logo img {
    width: 100%;
}

/* MEDIA FOR BRAND LOGOS */
@media screen and (min-width: 768px) {
    .ta-brand-logo ul li {
        width: calc((100% / 6) - 20px);
    }
}

/* DEPLOY SECTION */
.deploy .ta-list ul {
    padding-inline-start: 0;
}

.deploy .ta-list li {
    list-style: none;
    padding: 5px 10px;
    border-left: 1px solid #6F7B97;
}

/* DEVELOPER SLIDE SECTION */
.dev-slide {
    background: #f3f5f9;
}

.dev-slide img {
    width: 100%;
}

/* REMOVING PD AND MG BOT IN DESKTOP VIEW */
@media screen and (min-width: 991px) {
    .dev-slide .slide-img,
    .dev-slide .slide-sub {
        padding-bottom: 0;
    }

    .dev-slide .circle-nav {
        margin: 0;
        padding: 0;
    }
}

/* ADD ARROWS TO SLIDE */
@media screen and (min-width: 768px) {
    .dev-slide .ta-slide {
        display: inline-block;
        width: 80%;
        vertical-align: middle;
    }

    .dev-slide .slide-img::before {
        display: inline-block;
        vertical-align: middle;
        padding-right: 10px;
        color: rgba(0,0,0, .5);
        font-size: 60px;
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f104";
    }
    
    .dev-slide .slide-img::after {
        display: inline-block;
        vertical-align: middle;
        padding-left: 10px;
        font-size: 60px;
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f105";
    }
}

/* TABLE SECTION */
.table-sec {
    background-image: linear-gradient(#0047C5, #001E9A);
}

.table-sec table a {
    color: #00D7D2;
}